<%- include ('partials/_header');  %> 

<%console.log(horas) %>

<div class="container-fluid">

    <div class="card mx-auto">
    
        <div class="card-body">

            <h1>Hola, <%=user.usuario%></h1>
            <p>Eres el administrador!!!</p>

        </div>


    </div>


    <button  class="btn-export btn btn-success pt-3">Exporta a Excel</button>



<div class="col-md-12 pt-4">

    <div class="card">
    <!--Tabla-->
    <table id="tblData" class="table table-bordered">
    <thead>
    <tr>
    <th>Usuario</th>
    <th>Fecha</th>
    <th>OT</th>
    <th>Interno</th>
    <th>Codigo de tareas</th>
    <th>Descripcion</th>
    <th>HS</th>
   
    
    
    
    </thead>
    <tbody>


        <%for(let user in users){%>
  <%if(users[user].id == '5eaaee0724952024605b85c3') {%>
        <%console.log(users[user].usuario) %>
<%}%>
<%}%>
    <% for(var i = 0; i < parts.length; i++){ %> 
        

            <%for(var j = 0; j < parts[i].tasks.length; j++){%>


            <%if(parts[i].tasks.length == 0){%>
                <%for(let user in users){%>
                    <%if(users[user].id == parts[i].user) {%>
                          <td><%=users[user].usuario%></td>
                  <%}%>
                  <%}%>
            <td><%=parts[i].fecha%></td>    
            <%}else if(parts[i].tasks.length > 1){%>
                <%for(let user in users){%>
                    <%if(users[user].id == parts[i].user) {%>
                          <td><%=users[user].usuario%></td>
                  <%}%>
                  <%}%>
                <td><%=parts[i].fecha%></td> 
            <%}else if(parts[i].tasks.length  <= 1){%>
                <%for(let user in users){%>
                    <%if(users[user].id == parts[i].user) {%>
                          <td><%=users[user].usuario%></td>
                  <%}%>
                  <%}%>
                <td><%=parts[i].fecha%></td>  
            <%}%>

           <td><%=parts[i].tasks[j].ot%></td>
           <td><%=parts[i].tasks[j].interno%></td>
           <td><%=parts[i].tasks[j].cod%></td>
           <td><%=parts[i].tasks[j].description%></td>
           <td><%=parts[i].tasks[j].hs%></td>
            
        </tr>
        
        <% } %> 

   
        <% } %> 

    </tbody>
    
    
    
    
    
    </table>
    
    </div>

</div>
    
<br>


   


</div>




    




    


</div>



















<%- include ('partials/_footer');  %> 